{% extends 'baseNew.html' %}

{% block title %} {{titulo}} {% endblock %}

{% block content %}
<section class="main">

<h1 class="titulo">Form Atualização de cliente</h1>
<p class="informacao">
  Cliente {{nome}}, RG {{rg}}, esta instalado na cto {{cto}} porta {{porta}}, <strong> Status {{status}}</strong>
</p>


<form class="formulario" action="/ctomanager/atualizar_cliente/{{pk}}/" method="post">
  {% csrf_token  %}
  <fieldset>
    <legend class="legenda">Formulario de atualização de cliente:</legend>
    <p>
      <label for="nome">Nome:</label><br>
      <input type="text" name="nome" id="nome" value="{{nome}}" required>
    </p>

    <p>
      <label for="rg">RG:</label><br>
      <input type="number" name="rg", id="rg"  value="{{rg}}" placeholder="Somente numeros">
    </p>

    <p>
      <label for="status">Status: </label>
      <select name="status" id="status">
        <option value="ATIVO"{% if status == 'ATIVO' %}selected {% endif %} >Ativo</option>
        <option value="CANCELADO" {% if status == 'CANCELADO' %}selected {% endif %}>Cancelado</option>
        <option value="BLOQUEADO" {% if status == 'BLOQUEADO' %}selected {% endif %}>Bloqueado</option>
      </select>
    </p>

    <p>
      <!-- <label for="porta">Numeração porta CTO:</label> -->
      <!-- <input type="number" name="porta" id="porta" min="1" max="16" required> -->
       <span>Numeração porta CTO:</span><br>
      {% for numero in range %}
      <input type="radio" name="porta" id="pt" value="{{numero}}" {% if porta == numero %}checked{% endif %}><label for="porta" >{{numero}}</label>
      {% if numero == 9 %}
        <br>
      {%endif%}

      {% endfor %}
    </p>

    <p>
      <label for="numeracao_cto">Selecionar CTO:</label>
      <select name="numeracao_cto" id="numeracao_cto">
        {% for cto in ctos %}
        
        <option value="{{cto.pk}}" {% if cto_cliente == cto.numeracao %} selected {% endif %}>{{cto.numeracao}}</option>

        {% endfor %}
        
      </select>
    </p>

    <p>
      <label for="metragem">Metragem:</label>
      <input type="number" step="0.01" name="metragem" id="metragem" min="0" max="1000" value="{{ metragem }}">
      
    </p>
    
    
    
    <button class="submit" type="submit">Salvar</button>
  </fieldset>

  {% if messages  %}
    {% for message in messages %}
      <div  class=" messages {% if message.tags %}{{ message.tags }}{% endif %}" >
        <p>{{message}} </p>
      </div>
      {% endfor %}
  {% endif %}

</form>
</section>

{% endblock %}