{% extends 'baseNew.html' %}

{% block title %} {{titulo}} {% endblock %}

{% block content %}
<section class="main">

<h1 class="titulo">Form Instalação</h1>
<p class="informacao">Instalação de clientes</p>

<form class="formulario" action="/ctomanager/instalacao/" method="post">
  {% csrf_token  %}
  <fieldset>
    <legend class="legenda">Formulario de instalação de cliente:</legend>
    <span class="linha_media"></span>
    <p>
      <label for="nome">Nome:</label> <br>
      <input type="text" name="nome" id="nome" value="{{nome}}" required>
    </p>

    <p>
      <label for="rg">RG:</label> <br>
      <input type="number" name="rg", id="rg"  value="{{rg}}" placeholder="Somente numeros">
    </p>

    <p>
      <label for="status">Status: </label>
      <select name="status" id="status">
        <option value="ATIVO">Ativo</option>
        <option value="CANCELADO">Cancelado</option>
        <option value="BLOQUEADO">Bloqueado</option>
      </select>

      <!-- <input type="radio" name="status" value="ATIVO" id="ativo" {% if status == 'ATIVO' %}checked{% endif %}> 
      <Label for="ativo">ATIVO</Label>
      <input type="radio" name="status" value="CANCELADO" id="cancelado" {% if status == 'CANCELADO' %}checked{% endif %}> 
      <label for="cancelado">CANCELADO</label>
      <input type="radio" name="status" value="BLOQUEADO" id="bloqueado" {% if status == 'BLOQUEADO' %}checked{% endif %}> 
      <label for="bloqueado">BLOQUEADO</label> -->
    </p>



    <p>
      <label for="numeracao_cto">Selecionar CTO:</label>
      <select name="numeracao_cto" id="numeracao_cto">
        {% for cto in ctos %}
          <option value="{{cto.pk}}">{{cto.numeracao}}</option>
        {% endfor %}        
      </select>
      
      {% if not ctos %}
        <p class="atencao-null">CADASTRAR CTO ANTES</p>
      {% endif %}

    </p>
    {% if ctos %}
    <p>
      <span>Numeração porta CTO:</span><br>
      {% for numero in range %}
      <input type="radio" name="porta" id="pt" value="{{numero}}" {% if porta == numero %}checked{% endif %}><label for="porta" >{{numero}}</label>
      {% if numero == 9 %}
        <br>
      {%endif%}

      {% endfor %}
    
    </p>

    <p>
      <label for="metragem">Metragem:</label>
      <input type="number" name="metragem" id="metragem" min="0" max="1000" value="{{metragem}}">
      
    </p>
    
    
    
    <button class="submit" type="submit">Salvar</button>
    {%endif%}
  </fieldset>

  {% if messages  %}
    {% for message in messages %}
      <div  class=" messages {% if message.tags %}{{ message.tags }}{% endif %}" >
        <p>{{message}} </p>
      </div>
      {% endfor %}
  {% endif %}



</form>

</section>

{% endblock %}