{% extends 'base.html' %}

{% block title %} {{titulo}} {% endblock %}

{% block content %}
<h1>Form Instalação</h1>
<p>Instalaçõa de clientes</p>

<form action="/ctomanager/instalacao/" method="post">
  {% csrf_token  %}
  <fieldset>
    <legend>Formulario de instalação de cliente:</legend>
    <p>
      <label for="nome">Nome:</label>
      <input type="text" name="nome" id="nome" required>
    </p>

    <p>
      <label for="rg">RG:</label>
      <input type="number" name="rg", id="rg" placeholder="Somente numeros">
    </p>

    <p>
      Status:<br>
      <input type="radio" name="status" value="ATIVO" id="ativo" checked> 
      <Label for="ativo">ATIVO</Label>
      <input type="radio" name="status" value="CANCELADO" id="cancelado"> 
      <label for="cancelado">CANCELADO</label>
      <input type="radio" name="status" value="BLOQUEADO" id="bloqueado"> 
      <label for="bloqueado">BLOQUEADO</label>
    </p>

    <p>
      <label for="porta">Numeração porta CTO:</label>
      <input type="number" name="porta" id="porta" min="1" max="16" required>
    </p>

    <p>
      <span>Selecionar CTO:</span><br>
      {% for cto in ctos%}
        <input type="radio" name="numeracao_cto" value="{{cto.id}}" id="{{cto.numeracao}}" required><label for="{{cto.numeracao}}">{{cto.numeracao}}</label>
      {% endfor %}
    </p>
    <p>
      <label for="metragem">Metragem:</label>
      <input type="number" step="0.01" name="metragem" id="metragem" min="0" max="1000">
    </p>
    
    
    
    <br><button type="submit">Salvar</button>
  </fieldset>

  {% if messages  %}
    {% for message in messages %}
    <p> {{message}} </p>
    {% endfor %}
  {% endif %}


</form>

{% endblock %}