{% extends 'baseNew.html' %}

{% block title %} Home {% endblock %}

{% block content %}

  <div class="container">
 
      <div class="box"><a class="" href="{% url 'instalacao' %}">Instalação</a></div>
      <div class="box"><a class="" href="{% url 'pesquisa_cliente' %}">Pesquisar Cliente</a></div>
      <div class="box"><a class="" href="{% url 'cadastro_ctop' %}">CTO Primaria</a></div>
      <div class="box"><a class="" href="{% url 'cadastro_ctos' %}">CTO Secundaria</a></div>
      <div class="box"><a class="" href="{% url 'pesquisa_cliente' %}?nome=null">Troca de endereço</a></div>
      <div class="box"><a class="" href="{% url 'pesquisa_cto' %}">Pesquisar CTOs</a></div>
  </div>

{% endblock %}
