{% extends 'base.html' %}

{% block title %} Home {% endblock %}

{% block content %}

<h1>Mapeamento de clientes em Caixas de Distribuição de Fibra Óptica(CTO) </h1>
<h2>Gerenciamento Eficaz de Clientes em Rede FTTH com Mapeamento de CTOs</h2>
<p>
  O projeto de Mapeamento de Clientes em Caixas de Distribuição de Fibra Óptica (CTOs) 
visa otimizar a gestão da sua rede FTTH, facilitando a identificação e o atendimento dos clientes, 
reduzindo custos e aumentando a eficiência.
</p>

<h3>Como funciona?</h3>
<p>
  Com base em informações detalhadas sobre numeração, sinal óptico, metragem, portas disponíveis e 
utilizadas, e origem das CTOs, o mapeamento automatiza diversos processos e oferece diversos benefícios:
</p>
<ul>
  <li><strong> Identificação rápida e precisa das CTOs</strong>: A numeração facilita a localização pelas equipes de instalação e manutenção, agilizando o atendimento.</li>
  <li><strong> Diagnóstico de problemas na rede de fibra</strong>: Através do monitoramento do sinal óptico, é possível identificar falhas de atenuação e realizar triangulação em casos de múltiplas CTOs com problemas, otimizando o tempo de resolução.</li>
  <li><strong> Gerenciamento eficiente de materiais</strong>: O mapeamento detalhado do cabeamento permite levar apenas o material necessário para reparos ou novas instalações, reduzindo custos e desperdícios.</li>
  <li><strong> Agilidade no atendimento ao cliente</strong>: Com a localização precisa dos clientes nas portas das CTOs, o atendimento se torna mais rápido e sem necessidade de buscas demoradas.</li>
  <li><strong> Gerenciamento de portas das CTOs</strong>: O mapeamento facilita a identificação de portas livres e ocupadas, otimizando a utilização das CTOs e simplificando o processo de novas instalações ou cancelamentos.</li>
  
</ul>

<h3>Benefícios:</h3>

<ul>
  <li><strong> Redução de custos</strong>: Diminuição de desperdícios de materiais e otimização do tempo de trabalho.</li>
  <li><strong> Melhora na qualidade do atendimento</strong>: Atendimento mais rápido e preciso aos clientes.</li>
  <li><strong> Aumento da eficiência da rede</strong>: Identificação e resolução de problemas de forma mais rápida e eficaz.</li>
  <li><strong> Maior controle sobre o uso da infraestrutura</strong>: Gerenciamento eficiente das portas das CTOs.</li>
</ul>

<h4>Pronto para começar?</h4>
<p>Acesse o repositório do projeto para mais informações e iniciar a implementação:</p>
<a href="https://github.com/Halbert-Nascimento/cto_mapping">Link do Repositório</a>


<h5>Documentação do Código Fonte:</h5>
<p>
  </strong>A documentação completa do código fonte, incluindo instruções de instalação, uso e exemplos, será disponibilizada em breve. Aguarde!</strong>
</p>

{% endblock %}
{% block footer %}
  <p><a href="{% url 'sobre'% }"></a></p>

{% endblock %}