.main{
  margin: 0 auto;
  /* background-color: #9e9ceb9f; */
  min-height: 70dvh;
  max-width: 350px;
  border-radius: 25px;
  padding: 10px 20px;
  background: linear-gradient(to top, #3b2bec9f, #d4c2c79f);
}
strong{
  font-weight: bold;
}
.titulo{
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  padding: 10px 0;
}
.titulo_medio{
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  padding: 5px 0;

}
.main .informacao{
  letter-spacing: 1px;
  padding-top: 10px;
  /* padding-left: 15px; */
}
/* .formulario{
  padding: 10px;
} */
/* .formulario {
  border: black 1px solid;
  border-radius: 10px;
  height: 80%;
} */
.formulario .splitter{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 10px 20px 20px 20px;
}

.formulario .submit{
  
  display: inline-block;
  height: 35px;
  width: 80px;
  border-radius: 5px;
  margin: 20px 0;
  color: rgb(10, 10, 10);
  text-align: center;
  font-weight: bold;
  font-size: 15px;
  background: linear-gradient(to left, #3b2bec9f, #c3c2d49f);
}
.formulario .submit:hover{
  background: linear-gradient(to top, #3b2bec9f, #c3c2d49f);
  font-size: 17px;


}

.linha_media{
  display: block;
  height: 2px;
  width: 100%;
  background-color: red;
  margin-bottom: 10px;
  margin-top: 10px;
}




.legenda_info{
  font-weight: bold;
  display: block;
  padding-top: 10px;
}
.formulario p input{
  display: inline-block;
  height: 20px;
  padding-left: 10px;
  
  margin-bottom: 5px;
  border-radius: 5px;
  border: none;
  

}
.formulario label{
  padding: 5px 0 3px 0;
  display: inline-block;
  
}
.atencao-null{
  color: red;
  text-transform: uppercase;
  padding-bottom: 10px;
  padding-top: 10px;
  text-align: center;
}
.formulario select{
  margin: 10px 0;
}

.messages{

  margin: 20px auto;
  width: 250px;
  border-radius: 10px;
  /* background: linear-gradient(to top, #eec3022a, #fbff0065); */
  text-align: justify;   
  padding: 10px;
  font-weight: bold;
  line-height: 1.5;
  letter-spacing: 0.8px;
}
.success {
  color: #0b3a04;
  border: 3px solid #1fff01;
  background: linear-gradient(to top, #2dff0398, #ffd9009f);
}
.error { 
  color: #ff0000;
  border: 3px solid #ff011a;
  background: linear-gradient(to top, #eaee02, #ffd9009f);  

}
.warning{
  color: #614003;
  border: 3px solid #fffb01;
  background: linear-gradient(to top, #eaee02b7, #f0d01b67); 

}

/* ####################### parte nova de pesquisa teste*/
.centralizar_main{
  width: 1000px;
  margin: 0 auto;
}
.pesquisa legend{
  font-size: 20px;
  font-weight: bold;
  padding: 10px 0 20px 0;
}
.pesquisa table{
  background: linear-gradient(to top, #3b2bec9f, #c3c2d49f); 
  padding: 50px;
  width: 50%;
  border-radius: 10px;
}
.pesquisa th{
  font-weight: bold;
  text-align: center;
  width: 100px;
  padding-bottom: 8px;  
}
.centralizar_main .pesquisa table{
  width: 100%;  
  margin-bottom: 10px;
}
.centralizar_main .formulario{
  display: inline;
}
th, td {
  padding: 8px;
  border-bottom: 1px solid #ddd;
}
.td_nome{
  width: 50%;
  text-transform: capitalize;
}

tbody .tr:nth-child(odd) {
  background-color: #e0e0e0;
}
tbody .tr:nth-child(odd):hover {
  background: linear-gradient(to top, #7970dd9f, #d4c2c79f);
}

tbody .tr:nth-child(even) {
  background-color: #b3b3b3;
}
tbody .tr:nth-child(even):hover {
  background: linear-gradient(to top, #7970dd9f, #d4c2c79f);
}

.pesquisa a{
  font-weight: bold;
  text-transform: uppercase;
  font-size: 13px;
  color: #4519e4;
}
.pesquisa a:hover{
  font-size: 15px;
  color: #3b2becd2;
  
}
.centralizar{
  text-align: center;
}