{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <!-- <link rel="stylesheet" type="text/css" href="{% static 'siteDeclaracao/reset.css' %}"> -->
  <link rel="stylesheet" type="text/css" href="{% static 'siteDeclaracao/styleConfirmacao.css' %}">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{title}}</title>
  
</head>
<body>
  <div class="content">
    <h1>Pagamento Confirmado!</h1>
    <h3>Valor pago: {{payment_value}}</h3>
    <h4>Seu site foi criado com sucesso!</h4>
    <h4>Seu site estará disponível por <span class="strong">{{periodo}}</span>.</h4>
    <p>Após esse período, o site será automaticamente excluído.</p>
    <p>Infelizmente, não é possível estender o prazo de disponibilidade. Caso deseje, você poderá criar um novo site acessando <a href="{{url.cadastro}}">este link</a>.</p>
    
    <p><strong>Você pode acessar o site clicando no botão abaixo ou escaneando o QR code:</strong></p>
    <a href="{{url.url_access}}" class="cta-button">Acessar Site</a>
    
    <div class="qrcode">
      <h2 class="subtitulo">QR Code para Acesso</h2>
      <p>Escaneie o QR Code abaixo para acessar seu site de forma rápida ou imprima para compartilhar:</p>
      <div class="qr">
        <img src="{{qrcode}}" alt="QR Code do Site">
      </div>
    </div>

    <p class="info">Um e-mail com todas as informações, incluindo o link de acesso e o QR Code, foi enviado para você.</p>
  </div>
</body>
</html>
