{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="{% static 'siteDeclaracao/reset.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'siteDeclaracao/style.css' %}">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{title}}</title>
</head>
<body oncontextmenu="return false">
  <div class="menu"></div>

  <section class="inicio">
  <div class="conteinerForm">
    <h1 class="titulo principal">
      Surpreenda quem você ama
    </h1>

    <h3 class="subtitulo">
      Transforme o tempo do seu relacionamento em uma linda lembrança, Mostre o quanto e  especial o tempo que estão juntos!
    </h3>

    <h4 class="subtitulo menor">
      Preencha o formulário e crie um site personalizado com um contador exclusivo. Compartilhe essa homenagem especial com seu amor através de um QR Code!
    </h4>

    <form class="formCasal" id="formCasal" enctype="multipart/form-data" action="/love/saveTemporaryData/" method="post">{% csrf_token %}
      <div>
        <label for="nome1">Nomes do casal:</label>
        <div class="flex">
          <input type="text" name="nome1" id="nome1" class="NomesCasal" placeholder="Nome 1">
          <span class="unirNomes">&</span>
          <input type="text" name="nome2" id="nome2" class="NomesCasal" placeholder="Nome 2">

        </div>
      </div> 

      <div>
        <label for="data">Início do relacionamento:</label>
        <div class="flex">
        <input type="date" name="data" id="data">
        <input type="time" name="time" id="time">
        </div>
      </div>
      

      <div>
        <label for="mensagem"> Mensagem:</label>
        <textarea name="mensagem" id="mensagem" placeholder="Escreva sua mensagem personalizada"></textarea>        
      </div>

      <div>
        <label class="upload_fotos" for="foto">Escolher fotos casal (max 4)</label>
        <input type="file" name="fotos" id="foto" accept="image/*" multiple style="display: none;">
      </div>

      <div>
        <input class="link_musica" id="link_musica" type="url" name="urlMusica" placeholder="Link para musica youtube" >
      </div> 

      <div class="plano">       

        <input name="planoInput" class="planoInput" id="1mes" type="radio" value="1" placeholder="1 mes">
        <label for="1mes">1 Mes 5$
        </label>

        <input name="planoInput" class="planoInput" id="6meses" type="radio" value="6" placeholder="1 mes">
        <label for="6meses">6 Meses 10$
        </label>

        <input name="planoInput" class="planoInput" id="1ano" type="radio" value="12" placeholder="1 mes" checked>
        <label for="1ano">1 Ano 20$
        </label>

      </div>

      <div class="button btn_criar_site">
        <button>Criar meu site</button>
      </div>    
    </form>
    <div class="midiaSocial">
      <div class="iconSocial"><a href=""><img src="{% static 'siteDeclaracao/tiktok_icon.svg' %}" alt="tik"></a></div>
      
      <div class="iconSocial"><a href=""><img src="{% static 'siteDeclaracao/instagram_icon.svg' %}" alt="ins"></a></div>
      
    </div>

   </div> <!--//fechamento container form -->

   <div class="preview">
    <h1 class="titulo principal" id="preview_titulo">I love you</h1>

    <div class="carrossel">
      <div class="imgCarrossel"  id="imgCarrossel">
        <img id="preview_imagem1" class="carousel-image" src="{% static 'siteDeclaracao/casal1.jpg' %}" alt="ft1">
        <!-- <img id="preview_imagem2" class="carousel-image" src="{% static 'siteDeclaracao/casal2.jpg' %}" alt="ft2"> -->
        <!-- <img id="preview_imagem3" class="carousel-image" src="{% static 'siteDeclaracao/casal3.jpg' %}" alt="ft3"> -->
      </div>

      
    </div> <!--//fechamento carrossel -->
    
    <div class="iconSlide">
      <span id="prev"></span>
      <span></span>
      <span id="next"></span>
    </div> <!--//fechamento iconSlide -->

    <div class="nomes">
      <h3 class="nomes"><span id="preview_nome1">Florisbela</span> & <span id="preview_nome2">Joao</span></h3>
    </div>
    <div class="agrupar">
      <h3 class="contadoo" id="preview_cont_anos"> anos, 2 meses, 9 dias 3 horas, 20 minutos e 8 segundos de nós!      
      </h3>

      <div class="imagemDetalhe"><img src="{% static 'siteDeclaracao/coracao_lapis2.png' %}" alt=""></div>

    </div>

    


    <div class="mensagem" >
      <p id="preview_mensagem">orem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type speci...</p>
    </div>

    <div class="button btn_criar_site">
      <button>Criar meu site</button>
    </div>

   </div> <!--//fechamento preview -->

  </section> <!--//fechamento Início -->

<!-- ############################################# -->
 
  <section class="comoFunciona">
    <h3 class="subtitulo">Como funciona</h4>
      <ol class="etapas">
        <li class="etapa_li">
          Preencha os campos
        </li>
        <li class="etapa_li">
          Realize o pagamento
        </li>  
        <li class="etapa_li">
          Receba seu site personalizado + QR Code
        </li>
        <li class="etapa_li">
          Surpreenda quem você ama ❤️
        </li>
      </ol>
      <div class="button btn_criar_site">
        <button>Criar meu site</button>
      </div>
  </section>

  <section class="faq">

    <h3 class="subtitulo">Perguntas Frequentes (FAQ)</h3>

    <div class="perguntas">
      <details>
        <summary>Como funciona o site?</summary>
          <p>O site permite que você crie uma página personalizada para o casal, onde você pode adicionar os nomes, fotos, uma mensagem especial e a data em que vocês se conheceram. A página terá um contador dinâmico que mostra exatamente há quanto tempo vocês estão juntos, além de um slide para as fotos que você enviar.</p>
      </details>
  
      <details>
        <summary>Quais são os planos disponíveis?</summary>
          <p>Oferecemos três planos:</p>
          <ol>
            <li><span class="italico">Plano de 1 mês:</span>  A página ficará disponível por 1 mês.</li>
            <li><span class="italico">Plano de 6 meses:</span>  A página ficará disponível por 6 meses.</li>
            <li><span class="italico">Plano de 1 ano:</span>  A página ficará disponível por 1 ano.</li>
          </ol>
      </details>
  
      <details>
        <summary>Como faço para pagar pelo plano?</summary>
          <p>pós criar a página, você será redirecionado para o Mercado Pago, onde poderá realizar o pagamento de forma segura. </p>
      </details>

      <details>
        <summary>O que acontece quando o meu plano expira?</summary>
          <p>Quando o seu plano expirar, a página criada não estará mais disponível. Para continuar com a página no ar, você poderá renovar o plano. </p>
      </details>

      <details>
        <summary>Como posso acessar a minha página depois de criá-la?</summary>
          <p>Depois de criar a sua página e concluir o pagamento, você receberá um link exclusivo para acessar a sua página. Além disso, enviaremos um QR code que você pode imprimir ou compartilhar, facilitando o acesso ao seu site personalizado. </p>
      </details>

      <!-- <details>
        <summary>Posso editar a página após criá-la?</summary>
          <p>Atualmente, a função de edição ainda não está disponível, mas estamos trabalhando para oferecer essa opção em breve.</p>
      </details> -->

      <details>
        <summary>Quantas fotos posso adicionar na minha página?</summary>
          <p>Você pode adicionar até 4 fotos na sua página personalizada. </p>
      </details>

      <details>
        <summary>Como faço para compartilhar minha página com outras pessoas?</summary>
          <p>Você pode compartilhar o link que receberá por e-mail ou utilizar o QR code para mostrar a página para outras pessoas de forma prática e elegante. </p>
      </details>
      <details>
        <summary>Como faço para renovar meu plano?</summary>
          <p>Quando seu plano estiver perto de expirar, você receberá uma notificação com a opção de renovação. Basta seguir as instruções para manter a página no ar.</p>
      </details>
      <details>
        <summary> Há suporte para dúvidas e problemas?</summary>
          <p>Sim, se você tiver alguma dúvida ou problema, entre em contato com a nossa equipe de suporte através da seção "Contato" no site.</p>
      </details>
      <details>
        <summary>O pagamento é seguro?</summary>
          <p>Sim, todo o pagamento é feito através do Mercado Pago, uma plataforma de pagamentos confiável e segura que protege suas informações.</p>
      </details>
      <details>
        <summary>Por que criar esta página?</summary>
          <p>Manter um relacionamento é uma jornada cheia de momentos especiais, desafios e crescimento. Celebrar cada etapa desse caminho é uma forma de fortalecer os laços e lembrar o quanto cada momento juntos é importante. Ao criar esta página, você estará eternizando a história de vocês, registrando não apenas os momentos, mas o amor e o compromisso que os unem. É uma oportunidade única de mostrar ao mundo – e a si mesmos – o quanto essa jornada vale a pena e como cada dia juntos é um capítulo precioso da história que estão construindo.</p>
      </details>
      <!-- <details>
        <summary></summary>
          <p> </p>
      </details> -->
    </div>    

    <div class="button btn_criar_site">
      <button>Criar meu site</button>
    </div>
  </section>

  <section class="footer">



    <div class="termos">
      <a href="{{termos.uso}}">Termos de uso </a> /
      <a href="{{termos.privacidade}}">Termos de privacidade</a>
    </div>
 
  </section>




  <script src="{% static 'siteDeclaracao/script/script_home.js' %}">
    // Impede a cópia de texto
    document.addEventListener('copy', function (e) {
        e.preventDefault();
        alert('Copiar texto não permitido no momento!');
    });
</script>
</body>
</html>