{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'css/reset.css' %}">
  <link rel="stylesheet" href="{% static 'css/style_menu.css' %}">
  <link rel="stylesheet" href="{% static 'css/formulario.css' %}">
  <script src="{% static 'js/js_menu.js' %}" defer></script>
  
  
  <title>{% block title %}{% endblock %}</title>
  {% block extra_head %}{% endblock %}
  
</head>
<body>
  <header>
    <div class="header_menu">

      <div class="hamburger">
        <span></span>
        <span></span>
        <span></span>
      </div>    

      

      <div class="logo"><a href="{% url 'home' %}"><img class="logo-svg" src="{% static 'icons/connection_engine_internet_icon.svg'%}" alt=""></a></div>

      <div class="header-bem-vindo">Bem vindo, <strong>Visitante!</strong> </div>
      
      <div class="nav-icons">
        <a href=""> <img class="icon-svg" src="{% static 'icons/search-clients.svg'%}"></a>
        <a href=""> <img class="icon-svg" src="{% static 'icons/notification-danger.svg'%}"></a>
        <a href=""> <img class="icon-svg" src="{% static 'icons/sign_in_light_icon.svg'%}"></a>
      </div>      

    </div>

    <span id="espaço_header_nav"></span>


    <nav class="navbar">
         

      
      <ul class="nav-links ">
        <li><a class="" href="{% url 'cadastro_splitter' %}">Splitter</a></li>
        <li><a class="" href="{% url 'cadastro_ctop' %}">CTO'P</a></li>
        <li><a class="" href="{% url 'cadastro_ctos' %}">CTO'S</a></li>
        <li><a class="" href="{% url 'instalacao' %}">Instalação</a> </li>
        <li><a class="" href="{% url 'pesquisa' %}">Query all</a></li>
        <li><a class="" href="{% url 'pesquisa_cliente' %}">Pesquisar Cliente</a></li>
        <li><a class="" href="{% url 'pesquisa_cto' %}">Pesquisar CTOs</a></li>       
      </ul>
      

    </nav> 

  </header>


  

    <main>
      {% block content %}
      {% endblock %}
    </main>
  

  
  
</body>
</html>

