{% extends 'baseNew.html' %}
{% load static %}

{% block extra_head %}
<link rel="stylesheet" href="{% static 'css/pesquisa_clientes.css' %}">
{% endblock %}

{% block title %} {{titulo}} {% endblock %}

{% block content %}
<section class="full_main">

  <p class="informacao titulo_medio">CTO {{cto.numeracao}}</p>
<span class="linha_media"></span>

  <p class="descricao ">
    Derivada da {{cto.derivacao_ctoPrimaria}} <br>
    Sinal entrada: {{cto.sinal_entrada}}  <br>
    Splitter: 1/{{cto.splitter.splitter_tipo}} <br>
    Metragem: {{cto.metragem}} <br>
    Total cliente: <strong> {{total_cliente}}</strong> <br>
    Descrição: {{cto.descricao}}
  </p>

<span class="linha_media"></span>


<fieldset class="pesquisa">
  <legend>Clientes na cto:</legend>
  <table>
    <tr>
      <th>Nome</th>
      <th>Status</th>
      <!-- <th>CTO</th> -->
      <th>Porta</th>
      <th>Metragem</th>
      <!-- <th>Links</th> -->
    </tr>

      
      {% for cliente in clientes %}
        <tr class="tr onclick" onclick="location.href='/ctomanager/atualizar_cliente/{{cliente.pk}}'">
          <td class="td_nome">{{cliente.nome}}</td>          
          <td class=" status {{cliente.status}}">{{cliente.status}}</td>
          <!-- <td>{{cliente.numeracao_cto}}</td> -->
          <td class="centralizar">{{cliente.porta}}</td>
          <td class="centralizar">{{cliente.metragem}}</td>
          <!-- <td><a href="/ctomanager/atualizar_cliente/{{cliente.pk}}">Altera Info</a></td> -->
        </tr>
      {%endfor%} 
      
           
  </table>
      {% if not clientes %}
        <p class="titulo"> Sem clientes! </p>
      {% endif %}

 
</fieldset>

 

 

{% if messages  %}
{% for message in messages %}
  <div  class=" messages {% if message.tags %}{{ message.tags }}{% endif %}" >
    <p>{{message}} </p>
  </div>
  {% endfor %}
{% endif %}


</section>
{% endblock %}