{% extends 'base.html' %}

{% block title %} {{titulo}} {% endblock %}

{% block content %}
<h1>CTO {{cto.numeracao}} {{cto.splitter}}</h1>





<fieldset>
  <legend>Clientes cto</legend>
  <table>
    <tr>
      <th>Nome</th>
      <th>Status</th>
      <th>CTO</th>
      <th>Porta</th>
      <th>Metragem</th>
    </tr>
    
      {% for cliente in clientes %}
        <tr>
          <td>{{cliente.nome}}</td>          
          <td>{{cliente.status}}</td>
          <td>{{cliente.numeracao_cto}}</td>
          <td>{{cliente.porta}}</td>
          <td>{{cliente.metragem}}</td>
          <td><a href="/ctomanager/atualizar_cliente/{{cliente.pk}}">Altera Info</a></td>
        </tr>
      {%endfor%}      
  </table>

 
</fieldset>

 

 

  {% if messages  %}
    {% for message in messages %}
    <p> {{message}} </p>
    {% endfor %}
  {% endif %}




{% endblock %}