{% extends 'base.html' %}

{% block title %} {{titulo}} {% endblock %}

{% block content %}
<section class="centralizar_main">
<h1 class="titulo">CTO {{cto.numeracao}} {{cto.splitter}}</h1>





<fieldset class="pesquisa">
  <legend>Clientes cto</legend>
  <table>
    <tr>
      <th>Nome</th>
      <th>Status</th>
      <th>CTO</th>
      <th>Porta</th>
      <th>Metragem</th>
      <th>Links</th>
    </tr>

      
      {% for cliente in clientes %}
        <tr class="tr centralizar">
          <td>{{cliente.nome}}</td>          
          <td>{{cliente.status}}</td>
          <td>{{cliente.numeracao_cto}}</td>
          <td>{{cliente.porta}}</td>
          <td>{{cliente.metragem}}</td>
          <td><a href="/ctomanager/atualizar_cliente/{{cliente.pk}}">Altera Info</a></td>
        </tr>
      {%endfor%} 
      
           
  </table>
      {% if not clientes %}
        <p class="titulo"> Sem clientes! </p>
      {% endif %}

 
</fieldset>

 

 

{% if messages  %}
{% for message in messages %}
  <div  class=" messages {% if message.tags %}{{ message.tags }}{% endif %}" >
    <p>{{message}} </p>
  </div>
  {% endfor %}
{% endif %}


</section>
{% endblock %}