{% extends 'base.html' %}

{% block title %} {{titulo}} {% endblock %}

{% block content %}
<section class="full ">
<h1>Pesquisar</h1>

<form class="formulario" action="/get/pesquisa_cliente/" method="get">

  <label for="nome">Nome:</label>
  <input type="text" id="nome" name="nome">

  


  <input class="submit" type="submit" value="pesquisar">
</form>



  <fieldset class="pesquisa">
    <legend class="legenda_pesquisa">Clientes:</legend>
    <table>
      <tr>
        <th>Nome</th>
        <th>RG</th>
        <th>Status</th>
        <th>CTO</th>
        <th>Porta</th>
        <th>Metragem</th>
      </tr>
      
        {% for cliente in clientes %}
          <tr class="tr">
            <td class="td_nome">{{cliente.nome}}</td>
            <td>{{cliente.rg}}</td>
            <td>{{cliente.status}}</td>
            <td>{{cliente.numeracao_cto}}</td>
            <td>{{cliente.porta}}</td>
            <td>{{cliente.metragem}}</td>
            <td><a href="/ctomanager/atualizar_cliente/{{cliente.pk}}">Altera Info</a></td>
          </tr>
        {%endfor%}      
    </table>
   
  </fieldset>

 

 

  {% if messages  %}
    {% for message in messages %}
    <p> {{message}} </p>
    {% endfor %}
  {% endif %}


</section >
{% endblock %}