{% extends 'baseNew.html' %}
{% load static %}

{% block extra_head %}
<link rel="stylesheet" href="{% static 'css/pesquisa_clientes.css' %}">
{% endblock %}

{% block title %} {{titulo}} {% endblock %}

{% block content %}
<section class="full_main">



<form class="formulario" action="/get/pesquisa_cto/" method="get">
  <label for="numeracao">Numeração CTO's:</label>
  <input type="number" id="numeracao" name="numeracao"> 
  <br>
  <label for="numeracao">Numeração CTO'p:</label>
  <input type="number" id="numeracao_p" name="numeracao_p">  
  <br>   
  <input class="submit" type="submit" value="pesquisar">
</form>




<fieldset class="pesquisa">
  <legend>CTO's Secundaria:</legend>

  <table>
    <tr>
      <th>CTOS</th>
      <th>Derivação</th>
      <th>Sinal in</th>
      <th>Splitter</th>
      <!-- <th>Metragem</th> -->
      <!-- <th>Total Clientes</th> -->
      <!-- <th>Descrição</th> -->
      <th>Clientes</th>
      
    </tr>
    
      {% for cto in ctos %}
        <tr class="tr centralizar">
          <td>{{cto.numeracao}}</td>
          <td>{{cto.derivacao_ctoPrimaria}}</td>
          <td>{{cto.sinal_entrada}}</td>
          <td>1/{{cto.splitter.splitter_tipo}}</td>
          <!-- <td>{{cto.metragem}}</td> -->
          <!-- <td>{{cto.descricao}}</td> -->
          <td class="centralizar"><a href="/get/pesquisa_cto/{{cto.pk}}">Mais info</a></td>
          
        </tr>
      {%endfor%}      
  </table>
 
</fieldset>




<fieldset class="pesquisa">
  <legend>CTO's Primaria:</legend>

  <table >
    <tr>
      <th>CTOP</th>
      <th>Cor fibra entrada</th>
      <th>Sinal in</th>
      <th>Splitter</th>
      
      
      <th>Descrição</th>
      <!-- <th>Mais informações</th> -->
      
    </tr>
    
      {% for ctop in ctops %}
        <tr class="tr centralizar">
          <td>{{ctop.numeracao}}</td>
          <td>{{ctop.cor_fibra_entrada}}</td>
          <td>{{ctop.sinal_entrada}}</td>
          <td>1/{{ctop.splitter.splitter_tipo}}</td>
          
          <td>{{ctop.descricao}}</td>
          <!-- <td>Em desenvolvimento</td> -->
          <!-- <td><a href="/get/pesquisa_cto/{{cto.pk}}">Mais info</a></td> -->
          
        </tr>
      {%endfor%}      
  </table>
 
</fieldset>
 

{% if messages  %}
{% for message in messages %}
  <div  class=" messages {% if message.tags %}{{ message.tags }}{% endif %}" >
    <p>{{message}} </p>
  </div>
  {% endfor %}
{% endif %}



</section>
{% endblock %}